.hero-animated {
  position: relative;
  width: 100%;
  background-color: var(--negro-fondo);
  color: var(--blanco-puro);
  padding: 5rem 2rem;
  display: flex;
  justify-content: center;
  overflow: hidden; /* para asegurar que nada se desborde */
}

.promo-banner-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  max-width: 1280px;
  width: 100%;
  align-items: stretch; /* aseguramos que ambas columnas tengan igual alto */
  position: relative;
  z-index: 1;
}
.hero-left {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 3; /* encima del gradiente */
  position: relative;
  padding-left: 2rem;
   margin-right: -4rem; /* Empuja el texto hacia la imagen */
}


.hero-right {
  flex: 1 1 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.hero-right::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.55), transparent);
  z-index: 2;
  pointer-events: none;
}

.hero-title {
  font-size: 3.4rem;
  font-weight: 800;
  color: var(--blanco-puro);
  margin-bottom: 1.5rem;
}

.hero-subtitle {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--gris-texto);
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}

.hero-description {
  color: var(--gris-texto);
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.hero-benefits {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  color: var(--blanco-puro);
  margin-bottom: 2rem;
}

.hero-button {
  background-color: var(--rojo-principal);
  color: var(--blanco-puro);
  padding: 0.8rem 1.6rem;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  width: fit-content;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #b71c1c;
}

.hero-img {
  max-width: 100%;
  width: 800px;
  border-radius: 14px;
  object-fit: cover;
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.6);
  filter: brightness(0.95) contrast(1.05);
  transition: transform 0.3s ease;
}

.hero-img:hover {
  transform: scale(1.02);
}
